@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins';
    box-sizing: border-box;
}

body{
    background-color: #d3d3d3;
}

header{
    background-color: #444444;
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption{
    bottom: 3rem;
    z-index: 10;
    background-color: #d8d8d8be;
}

.carousel-item{
    height: 32rem;
}

.hobbies{
    font-size: small;
}

.carousel-control-next{
    color: #000000;
}

.carousel-control-prev{
    color: black;
}