@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins';
    box-sizing: border-box;
}

body{
    background-color: #d3d3d3;
}

header{
    background-color: #444444;
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    position: absolute;
    transform: translateY(10px);  /* This moves it slightly further down, you can adjust as needed */
    background-color: rgba(255, 255, 255, 0.7); /* Optional: added for better text visibility */
    padding: 10px 20px; /* Optional: added for some spacing */
}


.carousel-item {
    height: 32rem;
    width: 100%;  /* This will make the item take up the full width of its parent. */
    align-items: center;  /* This will center the content vertically. */
    justify-content: center;  /* This will center the content horizontally. */
}

.hobbies{
    font-size: small;
}

.carousel-control-next{
    color: #000000;
}

.carousel-control-prev{
    color: black;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;  /* This will center the image horizontally. */
}

